

/* Navbar */
.navbar{
    padding: 30px 0;
}

.navbar__logo{
    max-width: 160px;
}

.navbar__menu{

}

.navbar__menu--item{
    padding: 0 20px;
    position: relative;
}

.navbar__menu--item a{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0;
}

.navbar__menu--item a:active{
    border-bottom: 2px solid #12B19E;
    color: #12B19E;
}

.navbar__menu--item img{
    width : 24px
}

.navbar__menu--item span{
    position: absolute;
    bottom: 18px;
    left: 3px;
    font-size: 10px;
    background: #12B19E;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Main Content - Left Sidebar */
.main-content-container{
    align-items: flex-start;
}

.main-content-wrapper {
    align-items: flex-start;
    width: 72%;
}

.main-content-wrapper .left-sidebar{
    background: #fff;
    padding: 50px 0 25px;
    border-radius: 30px;
    width: 38%;
}

.main-content-wrapper .left-sidebar .left-sidebar__content{

}

.main-content-wrapper .left-sidebar .left-sidebar__content .left-sidebar__content--profile{
    text-align: center;
    padding: 0 25px;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .left-sidebar__content--profile .profile__img{
    width: 120px;
    margin: 0 auto;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .left-sidebar__content--profile .profile__img img{
    border: 2px solid #fff;
    box-shadow: 3px 3px 20px 0px rgb(51 51 51 / 20%);
    border-radius: 30px;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .left-sidebar__content--profile .profile__title{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #656565;
    padding: 30px 0 15px;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .left-sidebar__content--profile .profile__sub-title{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #656565;
    padding-bottom: 30px;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .left-sidebar__content--profile .profile__cta{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: #12B19E;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .left-sidebar__content--profile .profile__cta:hover{
    background: #f7f7f7;
    color: #12B19E;
    transition: 0.5s ease-in-out;
}

/* Leave history */
.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper{
    padding: 30px 0;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history-wrapper__header{
    align-items: flex-start;
    padding: 25px;
    border-bottom: 1px solid #f5f5f5;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history-wrapper__header .header-text{

}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history-wrapper__header .header-text .header-text__title a{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #656565;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history-wrapper__header .header-text .header-text__sub-title a{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #b9b9b9;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history-wrapper__header .header-text .header-text__title a img{
    width: 15px;
    margin-left: 10px;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history-wrapper__header .header-dropdown form select{
    width: 40px;
    color: #b9b9b9;
}

/* Leave history list */
.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list{
    padding: 0 25px;
    max-height: 350px;
    overflow-y: auto;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item{
    background: #FAEFD3;
    padding: 10px;
    border-radius: 10px;
    margin: 25px 0;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__icon{

}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__icon img{

}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__text{

}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__text .single-item__text--title{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #656565;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__text .single-item__text--sub-title{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #656565;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__text .single-item__text--type{
    
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__text .single-item__text--type span:first-child{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #C38D00;
}

.main-content-wrapper .left-sidebar .left-sidebar__content .leave-history-wrapper .leave-history__list .leave-history__list--single-item .single-item__text .single-item__text--type span:last-child{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #ACACAC;
}

/* Leave status */
.leave-status{
    padding: 25px;
}

.leave-status .leave-status__wrapper{
    width: 100%;
}

.leave-status .leave-status__count{
    flex-wrap: wrap;
    width: 100%;
}

.leave-status .leave-status__count .leave-status__count--single-item{
    background: #f5f5f5;
    border-radius: 16px;
    width: 30%;
    padding: 16px;
    margin: 15px 0;
}

.leave-status .leave-status__count .leave-status__count--single-item .single-item__title{
    color: #656565;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    max-width: 100px;
    min-height: 42px;
    align-items: center;
    display: flex;
}

.leave-status .leave-status__count .leave-status__count--single-item .single-item__number{
    color: #656565;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

/* Main Content */
.main-content{
    background: #fff;
    border-radius: 30px;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 30px;
}

/* Content Navbar */
.main-content__navbar{
    width: 100%;
    background-image: linear-gradient(to right, #fef8e6 , #fef2f2 , #f0fffc);
    border-radius: 30px 30px 0 0;
}

.main-content__navbar--col{
    
}

.main-content__navbar--item{
    padding: 0 25px;
}

.main-content__navbar--item a{
    color: #656565;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    padding: 25px 0;
}

.main-content__navbar--item:first-child{
    padding-left: 25px;
}

.main-content__navbar--item:last-child{
    padding-right: 25px;
}

.main-content__navbar--item:first-child a{
    padding-left: 0;
}

.main-content__navbar--item:last-child a{
    padding-right: 0;
}

.main-content__navbar--item a:hover{
    border-bottom: 2px solid #656565;
}

.main-content__navbar--col:nth-child(2) .main-content__navbar--item a:hover{
    border-bottom: none;
}

.main-content__navbar--item img{
    width: 12px;
    margin: 0 0 0 10px;
}


/* Content card list */
.main-content__list{
    width: 100%;
    padding: 25px;
}

.main-content__list--single-card{
    background: #F5F5F5;
    border-radius: 16px;
    margin-bottom: 24px;
}

.single-card__leave-info{

}

.single-card__leave-info--container{
    align-items: flex-start;
    padding: 20px;
}

.single-card__leave-info--container .profile-img{
    width: 10%;
    max-width: 60px;
}

.single-card__leave-info--container .profile-img img{
    border-radius: 5px;
}

.single-card__leave-info--container .profile-text{
    padding-left: 20px;
    width: 90%;
}

.single-card__leave-info--container .profile-text__txt1{

}

.single-card__leave-info--container .profile-text__txt1 h4{
    font-size: 16px;
    font-weight: 600;
    color: #656565;
    font-family: 'Inter', sans-serif;
}

.single-card__leave-info--container .profile-text__txt1 h5{
    font-size: 16px;
    font-weight: 500;
    color: #b9b9b9;
    font-family: 'Inter', sans-serif;
}

.single-card__leave-info--container .profile-text__txt1 h6{
    font-size: 10px;
    font-weight: 500;
    color: #ACACAC;
    font-family: 'Inter', sans-serif;
}

.single-card__leave-info--container .profile-text__txt1 .approve-auth{

}

.single-card__leave-info--container .profile-text__txt2{
    justify-content: flex-start;
    padding: 10px 0 0;
}

.single-card__leave-info--container .profile-text__txt4 ul{
    justify-content: flex-start;
}

.single-card__leave-info--container .profile-text__txt2 h5{
    font-size: 14px;
    font-weight: 600;
    color: #656565;
    font-family: 'Inter', sans-serif;
}

.single-card__leave-info--container .profile-text__txt2 span{
    color: #C38D00;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
}

.single-card__leave-info--container .profile-text__txt2 span img{
    width: 20px;
    margin-right: 10px;
}

.single-card__leave-info--container .profile-text__txt2 h6{
    font-size: 14px;
    font-weight: 600;
    color: #b9b9b9;
    font-family: 'Inter', sans-serif;
}

.single-card__leave-info--container .profile-text__txt3 ul{
    padding: 15px 0 10px;
}

.single-card__leave-info--container .profile-text__txt3 ul li{
    font-size: 14px;
    font-weight: 600;
    color: #656565;
    font-family: 'Inter', sans-serif;
    list-style-type: disc;
}

.single-card__leave-info--container .profile-text__txt3 ul li,
.single-card__leave-info--container .profile-text__txt4 ul li{
    margin-left: 10px;
}

.single-card__leave-info--container .profile-text__txt3 ul li:nth-child(1),
.single-card__leave-info--container .profile-text__txt4 ul li:nth-child(1){
    margin-left: 0;
}

.single-card__leave-info--container .profile-text__txt4 ul li{
    font-size: 14px;
    font-weight: 600;
    color: #656565;
    font-family: 'Inter', sans-serif;
    list-style-type: disc;
}

.single-card__leave-info--container .profile-text__txt4 ul li:last-child{
    list-style-type: none;
}

.single-card__leave-info--container .profile-text__txt4 ul li:last-child{
    color: #b9b9b9;
}

.single-card__leave-status{
    border-top: 1px solid #d4d4d4;
    padding: 20px;
}

.single-card__leave-status--cta .cta-white:first-child a{
    color:#DD6969;
}

.single-card__leave-status--cta .cta-white:last-child{
    padding-left: 20px;
}

.single-card__leave-status--admin span{
    color: #12B19E;
    font-size: 14px;
    font-weight: 600;
}

.single-card__leave-status .txt-red span{
    color: #DD6969;
}

.single-card__leave-status--admin span:last-child{
    color: #656565;
    padding-left: 10px;
}

.single-card__leave-status--admin span img{
    width: 20px;
    margin-right: 10px;
}

.single-card__leave-status--msg a{
    font-size: 14px;
    font-weight: 600;
    color: #656565;
    font-family: 'Inter', sans-serif;
}

.single-card__leave-status--msg a img{
    width: 20px;
    margin-right: 10px;
}


/* Right Sidebar */
.right-sidebar{
    width: 27%;
    background: #fff;
    border-radius: 30px;
}
.right-sidebar .right-sidebar__content .right-sidebar__content--country-list{
    padding: 25px 25px 0;
}

.right-sidebar .right-sidebar__content .right-sidebar__content--country-list .country-list__wrapper img{
    width: 30px;
    border-radius: 5px;
}

.right-sidebar .right-sidebar__content .right-sidebar__content--country-list .country-list__wrapper select{
    color: #656565;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.right-sidebar .right-sidebar__content .right-sidebar__content--country-list .country-list__info{
    color: #656565;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 20px 0;
}

.right-sidebar__content--on-leave .search{
    border-bottom: 1px solid #f5f5f5;
    padding: 25px;
}

.right-sidebar__content--on-leave .on-leave-list{
    padding: 15px 25px 25px;
    max-height: 300px;
    overflow-x: auto;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list{
    padding: 10px 0;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list a{
    justify-content: flex-start;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list span{
    width: 3px;
    height: 33px;
    background: #656565;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list--img{
    width: 44px;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list--img img{
    border-radius: 10px;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list--text{
    padding-left: 10px;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list--text .title{
    color: #656565;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.right-sidebar__content--on-leave .on-leave-list .on-leave-list__single-list--text .sub-title{
    color: #656565;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}


/* Login page */
.page-wrapper .login-page {
    padding: 40px;
    background: #fff;
}
.page-wrapper .login-page .login-page__container{
    justify-content: center;
}

.page-wrapper .login-page .login-page__container__col{
    padding: 0 30px;
    text-align: center;
    width: 50%;
}

.page-wrapper .login-page .login-page__container__col:first-child img{
    border-radius: 30px;
}

.page-wrapper .login-page .login-page__container__col--logo{
    max-width: 100px;
    margin: 0 auto;
}

.page-wrapper .login-page .login-page__container__col--text{
    color: #656565;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 50px 0;
}

.page-wrapper .login-page .login-page__container__col--btn{
    width: 100%;
}

.page-wrapper .login-page .login-page__container__col--btn a{
    color: #fff;
    background: #12B19E;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.page-wrapper .login-page .login-page__container__col--btn a:hover{
    background: #597E8D;
    transition: 0.5s ease-in-out;
 }